form {
  text-align: center;
}

p {
  padding-top: 1rem;
}

.input {
  border: 0;
  border-bottom: 2px solid #333;
  padding: 15px 0;
  display: block;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  width: 100%;
  transition: 0.1s ease-in;
}

.input:focus,
.input:valid {
  border-bottom-color: darksalmon;
  outline: none;
}

.input:focus + label span,
.input:valid + label span {
  color: darksalmon;
  transform: translateY(-30px);
}

.label {
  width: 50vw;
  position: absolute;
  top: 15px;
  left: 0;
}

.label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#sbt-btn {
  margin-top: 2rem;
  color: #fff;
  text-decoration: none;
  background: #0050d1;
  padding: 14px;
  border-radius: 9px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
