.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.login-form-close {
  margin: auto 0 auto auto;
}

.login-form-close .lni {
  padding: 10px;
  font-size: 1.5rem;
}

.login-form-close:hover {
  cursor: pointer;
  opacity: 0.9;
  color: gray;
}

.login-form form {
  width: 100%;
}

.login-form-email,
.login-form-password,
.login-form-submit {
  margin: 10px 0;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.login-form label {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: center;
  justify-content: center;
  justify-self: center;
}

.login-form input[type='email'],
.login-form input[type='password'] {
  margin-top: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.login-form-submit {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.login-form input[type='submit'] {
  border: none;
  background-color: #0050d1;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  width: 20%;
}
