.login-page-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.login-page-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-page-login,
.login-page-register {
  width: 50%;
  font-size: 1.5rem;
  background-color: white;
  outline: none;
  border: none;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  border-right: black solid 1px;
}
.login-page-login {
  border-left: black solid 1px;
}

.login-page-buttons button:focus {
  cursor: pointer;
  background-color: #f5f6f8;
}
