body {
  background-color: gray;
}

.search-navi > input {
  width: 100%;
  height: 50%;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: transparent;
}
#searchbar-navi {
  transition: all 0.2s ease-in-out;
}
#searchbar-navi:hover {
  transform: scale(1.1);
}
.search-navi > input:focus {
  background-color: transparent;
  border: none;
  outline: none;
}
.search-navi > .lane {
  transition: all 0.2s ease-in-out;
  width: 0%;
  opacity: 1;
  background-color: black;
  height: 1px;
}
.search-navi > input:hover + .lane {
  margin-top: 2px;
  width: 100%;
  opacity: 1;
}
#searchbar-navi {
  width: 20rem;
  min-height: 5rem;
}
