.navbar-wrapper {
  position: sticky;
  display: flex;
  justify-content: center;
  height: 64px;
  background-color: #fb8c00;
  width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.navbar-home {
  height: 64px;
  padding: 12px;
}

.navbar-home img {
  height: 40px;
}

.navbar-home img:hover {
  cursor: pointer;
}

.navbar-navigation {
  display: flex;
  padding-right: 1vw;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-item {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  height: 100%;
  padding: 0 10px 0 0;
}

.navbar-icon {
  margin: 10px;
}

.navbar-navigation .navbar-item:hover {
  cursor: pointer;
  opacity: 0.9;
  background-color: #57bd84;
}

.navbar-login {
  align-items: center;
  display: flex;
}

.navbar-wishlist {
  align-items: center;
  display: flex;
}

.navbar-cart {
  align-items: center;
  display: flex;
}

.navbar-navigation .lni {
  padding: 10px;
  font-size: 2rem;
}
