.splash-search {
  width: 100%;
  position: absolute;
  top: 50.5vh;
}

.splash-search .searchbar {
  height: 4rem;
  width: 50vw;
  min-width: 480px;
  border-radius: 1rem;
  padding-left: 1rem;
}

.splash-search .searchbar input,
.splash-search .searchbar button {
  font-size: 2rem;
}

.splash-search .searchbar input {
  height: 3rem;
  margin: 0.5rem 0 0 0;
}

.splash-search .searchbar button {
  border-radius: 0 1rem 1rem 0;
}

.navbar-search {
  width: 100%;
}

.navbar-search .searchbar {
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  padding-left: 1rem;
}

.navbar-search .searchbar input,
.navbar-search .searchbar button {
  font-size: 1rem;
}

.navbar-search .searchbar input {
  height: 2rem;
  width: 100%;
}

.navbar-search .searchbar button {
  border-radius: 0 1rem 1rem 0;
}

.search-green .searchbar {
  background-color: #57bd84;
}

.search-green .searchbar button {
  background-color: #fb8c00;
}

.searchbar-container {
  display: grid;
  z-index: 1000;
  justify-content: center;
}

.searchbar {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 5rem;
}

.searchbar input,
.searchbar button {
  border: 0;
}

.searchbar input {
  outline: none;
  background-color: transparent;
  position: relative;
  bottom: 2px;
}

.searchbar button {
  background: #57bd84;
  z-index: 3;
  color: #fff;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.searchbar .searchbar-autocomplete {
  z-index: 0;
}

.searchbar button svg {
  position: relative;
  left: 10px;
}
