.search-result {
  min-height: 205px;
  height: 20vh;
  display: flex;
}

.result-image {
  height: 100%;
  margin-right: 20px;
}

.result-name {
  font-size: 1.8rem;
}

.result-price {
  font-size: 1.5rem;
  color: #ff8000;
}
